body{
    margin:0;
}
.p1{
    background-image:url("pictures/rhpAWNI.png");
}
.p2{
    background-image:url("pictures/7gUFAC8.png");
}
.p3{
    background-image:url("pictures/P9UesXr.png");
}
.p4{
    background-image:url("pictures/x8rXOd0.png");
}
.container{
    display:flex;
    justify-content: center;
    padding-top:30vh ;
}
.przyciski{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.btn{
    width: 15em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.wyswietl{
    width: 30em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
button{
    height: 22vh;
    border:0;
    background: white;
}